:root{
    --blue: #2589BD;
    --lightblue: #92C4DE;
    --yellow:#F5BB00;
    --lightyellow:#FADD80 ;
    --green:#4DA167;
    --lightgreen:#A6D0B3 ;
    --pink:#DB3069 ;
    --lightpink:#ED98B4 ;
    --black: #0E0E0E;
    --white: #FAFAFA;
}


.custom-search-bar {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    width: 100%;
  }
  
  .custom-search-bar:focus {
    outline: none;
    box-shadow: none;
  }

  .custom-search-container {
    display: flex;
    align-items: center;
    border-radius: 25px;
    background-color: #f5f5f5;
    padding-left: 10px;
  }
  
  .custom-search-container i {
    margin-right: 10px;
  }