:root{
    --blue: #2589BD;
    --lightblue: #92C4DE;
    --yellow:#F5BB00;
    --lightyellow:#FADD80 ;
    --green:#4DA167;
    --lightgreen:#A6D0B3 ;
    --pink:#DB3069 ;
    --lightpink:#ED98B4 ;
    --black: #0E0E0E;
    --white: #FAFAFA;
    --gris: #DBDBDB;
}

*{
    background-color: var(--white);
}

.bg-gray{
    background-color: var(--gris)!important;
}

.menu{
    height: 100vh;
}

.topbar{
    padding-top: 2vh;
    height: 10vh;
}