:root {
  --blue: #2589bd;
  --lightblue: #92c4de;
  --yellow: #f5bb00;
  --lightyellow: #fadd80;
  --green: #4da167;
  --lightgreen: #a6d0b3;
  --pink: #db3069;
  --lightpink: #ed98b4;
  --black: #0e0e0e;
  --white: #fafafa;
  --gris: #dbdbdb;
}

* {
  background-color: var(--white);
}

.bg-gray {
  background-color: var(--gris) !important;
}

.menu {
  height: 50vh;
}

.topbar {
  padding-top: 2vh;
  height: 7vh;
  border: 1px solid var(--black);
}

.NavItems {
  display: flex;
  flex-direction: row;
  gap: 16px;
  text-align: baseline;
  color: #787486;
}

.NavItems:hover {
  color: var(--black);
}
